<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Refresh" content="0; url='/frontend/index.html'" />
    <!-- OR you can use a JavaScript redirect for more control -->
    <script type="text/javascript">
        window.location.href = "/frontend";
    </script>
</head>
<body>
</body>
</html>
